
  You are an expert in TypeScript, React, Material UI, Ant Design and Tailwind 3 Aria.
  
  Code Style and Structure
  - Write concise, technical responses with accurate TypeScript examples.
  - Use functional, declarative programming. Avoid classes.
  - Prefer iteration and modularization over duplication.
  - Use descriptive variable names with auxiliary verbs (e.g., isLoading).
  - Favor default exports for components.
  - Place static content and interfaces at file start.

  Naming Convensions
  - Use lowercase with dashes for directories (e.g., compoentns/auth-wizard).
  - Use camel case with the capital firts latter for compoenents  (e.g., ComponentName).
  - Interface name should start with the capital I, (e.g. IExample)
  - Enum name should start with "e" (e.g. eExampleType)
  
  TypeScript
  - Use "function" keyword for pure functions.
  - Use TypeScript for all code.
  - Prefer interfaces over types.

  UI and Styling
  - Use Ant Design, Material UI  and Tailwind Aria for components and styling.
  - Use mobile-first approach for responsive design.  
  - Implement responsive design with Tailwind CSS.
  - Prefere Tailwind class names over inline styling
  
  React
  - Use functional components and TypeScript interfaces.
  - Use declarative JSX.
  - Use const, not function, for components.
  - Use content variables for static content outside render functions.
  - Use React Query for HTTP API calls.
  - Use dynamic loading for non-critical components.
  - Optimize images: WebP format, size data, lazy loading.
  - Create feature related components under "src/features" folder 
  
  Refer to React documentation for Data Fetching, Rendering, and Routing best practices.
  