$primary-color: #1976d2;
$danger: #d32f2f;
$danger-light: #ef5350;
$warning: #E9D502;
$success: #42ba96;
$disabled: transparentize(#000, 0.95);
$outline: transparentize(#000, 0.85);
$secondary-text: rgba(#000, 0.7);
