@import "../../../styles/colors";

.familyGroupLayout {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.familyGroup {
  border-radius: 4px;
  border: 1px solid $outline;
}

.familyGroupHeading {
  padding: 1.5rem 1rem;

  &Title {
    margin: 0;
    font-weight: 500;
    line-height: 3rem;
  }
  &Subtitle {
    font-size: 1.2rem;
    color: $secondary-text;
  }
}

.familyGroupEmpty {
  padding-top: 5rem;
  text-align: center;

  &Text {
    margin-bottom: 2rem;
  }
}

.familyGroupActions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid $outline;
}
