@import "../../../styles/colors";

.groupItem {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    border-top: 1px solid $outline;

    &Avatar {
        flex-shrink: 0;
    }

    &UserInfo {
        flex: 1;
    }

    &UserName {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
    &Role {
        font-size: 1.2rem;
        color: $secondary-text;
    }
}
